.image-container img {
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.products-container {
    display: flex;
    justify-content: space-between;
}

.whole_product{
    display: flex;
    justify-content: space-between;
}

.buttons{
    display: flex;
    min-width: 300px;
}