.image-container img {
    overflow: hidden;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.products-container {
    display: flex;
    justify-content: space-evenly;
}

.whole_product{
    display: flex;
}

.buttons{
    display: flex;
    min-width: 300px;
}

.purchase-form{
    display: flex;
    min-height: 600px;
}

.shopping-cart{
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
}